{% extends 'layout.html' %}

{% block body %}
    
    <div class="d-flex justify-content-center">
        <!-- <div class="col-md-10" style="background-color:#FFCC99; height: 92vh; opacity: 0.5; border: solid red;">
        </div> -->
        <div class="col-md-10" style= "position: absolute;z-index: 1; top: 100px ;">

            <!-- Main component for a primary marketing message or call to action -->
            <div>
                <h2 style="color:white;">Airbnb Amsterdam Price Predict and Recommendation Systems</h2>
                <p style="color: white;">This dashboard to complete the final project of JC Data Science Purwadhika startup and coding school. this project Predict Price of Airbnb in Amsterdam using Regression Modeling Like Random Forest Regressor, and Create Recommendation System using User Based.</p>                
                
            </div>
        
        </div> <!-- /container -->
    </div>    
{% endblock body %}