{% extends 'layout.html' %}

{% block body %}
    <div class="d-flex justify-content-center">
        <!-- <div class="col-md-10" style="background-color:#FFCC99; height: 92vh; opacity: 0.5; border: solid red;">
        </div> -->
        <div class="col-md-10" style= "position: absolute;z-index: 1; top: 100px ;">

            <!-- Main component for a primary marketing message or call to action -->
            <div>
                <h2 style="color:white;">Airbnb Amsterdam Price Predict and Recommendation Systems</h2>
                <p style="color: white;">Prediction Price of Airbnb in Amsterdam using Regression Modeling Like Random Forest Regressor, and Create Recommendation System using User Based.</p>                <p class="float-right">
                <a class="btn btn-lg btn-secondary" href="/prediction" role="button">let's Predict</a>
                </p>
            </div>
        
        </div> <!-- /container -->
    </div>    
{% endblock body %}