<nav class="navbar navbar-expand-lg navbar-light" style="background-color:orange;">
        <!-- <a class="navbar-brand" href="#">
                <img src="http://placehold.it/150x50?text=Logo" alt="">
              </a> -->
  <a style="font-weight: bolder;" class="navbar-brand" href="/">AMSTERDAM AIRBNB</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <div class="d-flex justify-content-between" style=" width: 100%;"> 
      <div class="">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/prediction">prediction<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/plots">plots</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
        </ul>
      </div>
      <div class="">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/login">Login/Register</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="/register">Register</a>
          </li> -->
        </ul>
      </div>
    </div>
  </div>
</nav>